<ol class="breadcrumb border-bottom">

    <li class="breadcrumb-item">
        <a href="#"> HOME</a>
    </li>
    <li class="breadcrumb-item">
        <a href="#"> Master </a>
    </li>
</ol>
<section class="content">
    <div class="element-wrapper">
        <h1 class="element-title">Guest House</h1>
        <div class="element-actions">
            <a data-ui-sref="addGuesthouse({ detailsdataMode: 'ADD' })" data-ui-sref-active="active" class="add btn btn-primary btn-sm">
                <i class="la la-plus-circle mr-1"></i> Add Guest House </a>
           
            <!--<a class="add btn btn-primary btn-sm" data-ui-sref="guestHouse"  data-toggle="modal">
                <i class="icon-add"></i>
                <span>Add Guest House</span>
            </a>-->
        </div>
    </div>


    <div class="row mb-4">
        <div class="col-12">
            <div class="table-container">
                <table class="standard-table table-border">
                    <thead>
                        <tr>
                            <th width="25%">Guest House Id</th>
                            <th>Guest House Name</th>

                            <th width="10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="guestHouse in guestHouseMasters ">
                            <td data-title="GuestHouseId" >{{guestHouse.registerno}}</td>
                            <td data-title="Guest House Name">{{guestHouse.guestHouse_Name}}</td>
                                <!-- <a class="btn btn-primary-2 rounded-0 py-0" href="javascript:void(0)"    ng-click="editGuestHouse(guestHouse._id)"> -->

                            <td>
                                <a class="btn btn-table btn-sm rounded-0 py-0"data-toggle="modal" data-ui-sref="addGuesthouse({detailsdataMode:'Edit',guestHouse:guestHouse._id})">  <i class="la la-edit"></i> Edit </a>

                                    <!-- data-ui-sref="addGuesthouse({dataMode:'Edit' ,guestHouse:guestHouse._id})">
                                    -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>